
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env

# Logs
*.log

*.img
input/
